book
target
output

# mdbook-quiz-cairo
src/quiz-cairo

# Editors tmp files.
*~
.idea/

*Scarb.lock

runner_crate/src
runner_crate/target

*.snfoundry_cache
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
